### **Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка**

 

<h1>1.</h1>   Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [2]:
df = pd.DataFrame({
    'gammaD': np.random.gamma(shape=1, size=20),
    'normalD1': np.random.normal(loc=10, scale=5, size=20),
    'geometricD': np.random.geometric(p=0.5, size=20),
    'uniformD': np.random.uniform(size=20),
    'normalD2': np.random.normal(loc=5, scale=10, size=20),
    'normalD3': np.random.randn(20)
})

n=df.shape[0]

df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
gammaD,0.694507,0.266154,0.538494,0.592942,2.410391,0.680874,2.625831,0.459110,0.063683,0.533970,0.263725,0.214114,0.449408,0.126775,0.169611,0.881105,0.177977,1.489475,1.054869,0.909773
normalD1,10.749100,5.745743,12.681475,9.741835,11.643047,16.128668,2.429695,18.364139,10.346966,6.304331,8.447203,9.569519,5.061930,13.632937,8.183094,13.572494,13.514389,12.491071,2.505287,11.530458
geometricD,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.000000,6.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,2.000000,2.000000
uniformD,0.138088,0.506253,0.784431,0.105956,0.366610,0.927083,0.535285,0.418337,0.658487,0.806397,0.375257,0.826198,0.729494,0.529143,0.166613,0.146015,0.943699,0.044717,0.067211,0.352168
normalD2,-6.414338,8.436169,9.521887,9.864377,4.798629,15.825043,19.451602,8.950004,29.447891,-9.137893,4.091144,12.546364,1.924671,-0.679240,1.270428,2.557661,5.537754,17.476405,0.821322,8.013770
normalD3,-0.990594,0.653112,0.092425,1.959544,-0.040982,-0.415036,0.414075,-0.308260,-0.968024,-0.312038,2.000221,-0.518555,1.575141,-0.374750,-0.043028,-1.477027,-0.000054,2.153488,0.356506,0.930012

<h1>2.</h1>   Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку:
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [3]:
# 1. Ordering the observation
# df.sort_values(['gammaD', 'geometricD'], inplace=True)

df = pd.DataFrame({key: sorted(values) for key, values in df.transpose().iterrows()})
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
gammaD,0.063683,0.126775,0.169611,0.177977,0.214114,0.263725,0.266154,0.449408,0.459110,0.533970,0.538494,0.592942,0.680874,0.694507,0.881105,0.909773,1.054869,1.489475,2.410391,2.625831
normalD1,2.429695,2.505287,5.061930,5.745743,6.304331,8.183094,8.447203,9.569519,9.741835,10.346966,10.749100,11.530458,11.643047,12.491071,12.681475,13.514389,13.572494,13.632937,16.128668,18.364139
geometricD,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000
uniformD,0.044717,0.067211,0.105956,0.138088,0.146015,0.166613,0.352168,0.366610,0.375257,0.418337,0.506253,0.529143,0.535285,0.658487,0.729494,0.784431,0.806397,0.826198,0.927083,0.943699
normalD2,-9.137893,-6.414338,-0.679240,0.821322,1.270428,1.924671,2.557661,4.091144,4.798629,5.537754,8.013770,8.436169,8.950004,9.521887,9.864377,12.546364,15.825043,17.476405,19.451602,29.447891
normalD3,-1.477027,-0.990594,-0.968024,-0.518555,-0.415036,-0.374750,-0.312038,-0.308260,-0.043028,-0.040982,-0.000054,0.092425,0.356506,0.414075,0.653112,0.930012,1.575141,1.959544,2.000221,2.153488

In [4]:
# 2. Variance S²
def get_data_mean(array):
    return sum(array)/n

def get_data_squared_S(array, data_mean):
    return sum([(array[i]-data_mean)**2 for i in range(n)]) 

data_mean = {dist: get_data_mean(df[dist]) for dist in df}
data_squared_S = {dist: get_data_squared_S(df[dist], data_mean[dist])
                 for dist in df}

In [5]:
# 3. Compute b

a=[0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def get_b(array):
    return sum([a[i]*(array[(n-1)-i]-array[i])
                for i in range(n//2)])

data_b = {dist: get_b(df[dist]) for dist in df}

In [17]:
# 4. Compute W

def calculate_W(b, squared_S):
    return b**2/squared_S

data_W = {dist: calculate_W(data_b[dist], data_squared_S[dist]) for dist in df}

WTheory = sts.shapiro(df['gammaD'])
data_W, WTheory

({'gammaD': 0.7836047623279532,
  'normalD1': 0.9739202426330316,
  'geometricD': 0.530595010080645,
  'uniformD': 0.9310311832130193,
  'normalD2': 0.9721714453128908,
  'normalD3': 0.9336415981984885},
 (0.78382408618927, 0.0005006728461012244))

<h1>3.</h1> Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.
Шаблон таблиці:
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [7]:
column_names = ["Variable", "Statistics", "Distribution"]
new_df = pd.DataFrame(columns = column_names)
new_df

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

<h1>4.</h1> Занести в стовпчик Variable назви змінних.

In [8]:
new_df["Variable"] = df.keys()
new_df

     Variable Statistics Distribution
0      gammaD        NaN          NaN
1    normalD1        NaN          NaN
2  geometricD        NaN          NaN
3    uniformD        NaN          NaN
4    normalD2        NaN          NaN
5    normalD3        NaN          NaN

<h1>5.</h1> Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [9]:
new_df["Distribution"] = [('normal ' if 'normal' in dist else 'non-normal ')+
                          str(data_W[dist])
                          for dist in new_df["Variable"]]
new_df

     Variable Statistics                   Distribution
0      gammaD        NaN  non-normal 0.7836047623279532
1    normalD1        NaN      normal 0.9739202426330316
2  geometricD        NaN   non-normal 0.530595010080645
3    uniformD        NaN  non-normal 0.9310311832130193
4    normalD2        NaN      normal 0.9721714453128908
5    normalD3        NaN      normal 0.9336415981984885

<h1>6.</h1> Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [10]:
for i in range (new_df.shape[0]):
    current_variable = new_df["Variable"][i]
    if 'normal' in current_variable:
        new_df["Statistics"][i] = f'{df[current_variable].mean()} [{df[current_variable].std()}]'

new_df

,Variable,Statistics,Distribution
0,gammaD,NaN,non-normal 0.7836047623279532
1,normalD1,10.132169040757875 [4.231379108418661],normal 0.9739202426330316
2,geometricD,NaN,non-normal 0.530595010080645
3,uniformD,NaN,non-normal 0.9310311832130193
4,normalD2,7.215182397092844 [8.971211209604407],normal 0.9721714453128908
5,normalD3,0.2343088497449201 [1.0345939397443276],normal 0.9336415981984885

<h1>7.</h1> Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [11]:
for i in range (new_df.shape[0]):
    current_variable = new_df["Variable"][i]
    if 'normal' not in current_variable:
        new_df["Statistics"][i] = \
        f'{df[current_variable].median()} \
        [{df[current_variable].quantile(0.25)}; {df[current_variable].quantile(0.75)}]'

new_df

,Variable,Statistics,Distribution
0,gammaD,0.5362317784213134 [0.2513217915036326...,non-normal 0.7836047623279532
1,normalD1,10.132169040757875 [4.231379108418661],normal 0.9739202426330316
2,geometricD,1.0 [1.0; 2.0],non-normal 0.530595010080645
3,uniformD,0.4622949939225135 [0.1614638606397984...,non-normal 0.9310311832130193
4,normalD2,7.215182397092844 [8.971211209604407],normal 0.9721714453128908
5,normalD3,0.2343088497449201 [1.0345939397443276],normal 0.9336415981984885

<h1>8.</h1> Зберегти таблицю в пдф форматі

In [12]:
import weasyprint

In [13]:
HTML_TEMPLATE1 = '''
<html>
<head>
<style>
  h2 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  table { 
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
  }
  table tbody tr:hover {
    background-color: #dddddd;
  }
  .wide {
    width: 90%; 
  }
</style>
</head>
<body>
'''

HTML_TEMPLATE2 = '''
</body>
</html>
'''


def to_html_pretty(dframe, filename='out.html', title=''):
    ht = ''
    if title != '':
        ht += '<h2> %s </h2>\n' % title
    ht += dframe.to_html(classes='wide', escape=False)

    with open(filename, 'w') as f:
         f.write(HTML_TEMPLATE1 + ht + HTML_TEMPLATE2)


intermediate_html = 'intermediate.html'
new_df.to_html(intermediate_html)
to_html_pretty(new_df, intermediate_html, 'Stats')

out_pdf= 'Lab4Stats.pdf'
weasyprint.HTML(intermediate_html).write_pdf(out_pdf)