### **Перевірка даних на нормальність за допомогою критерію Шапіра-Уілка**

 

<h1>1.</h1>   Сгенеруйте набір даних, що містить не менше 6 змінних. Частину змінних згенеруйте за нормальний розподілом, частину - за будь-яким іншим розподілом. Кількість спостережень - 20.

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as sts

In [2]:
df = pd.DataFrame({
    'gammaD': np.random.gamma(shape=1, size=20),
    'normalD1': np.random.normal(loc=10, scale=5, size=20),
    'geometricD': np.random.geometric(p=0.5, size=20),
    'uniformD': np.random.uniform(size=20),
    'normalD2': np.random.normal(loc=5, scale=10, size=20),
    'normalD3': np.random.randn(20)
})

n=df.shape[0]

df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
gammaD,1.876075,0.075164,4.091342,0.112691,0.068896,1.182253,0.986245,0.228232,0.515843,0.637990,0.522405,1.698596,0.115444,0.308828,0.089035,0.097176,0.005519,1.756528,1.243521,1.931315
normalD1,8.716142,3.534785,14.178831,5.107833,12.747818,10.656995,14.445795,17.823873,12.207676,2.719352,13.957428,6.499164,14.696851,10.036528,18.572733,10.488649,4.697076,11.092024,9.503542,15.050940
geometricD,2.000000,3.000000,2.000000,1.000000,2.000000,3.000000,1.000000,1.000000,1.000000,4.000000,2.000000,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,2.000000,3.000000,3.000000
uniformD,0.508545,0.331385,0.161229,0.522363,0.386651,0.254224,0.227741,0.617248,0.563966,0.699897,0.302826,0.223930,0.250312,0.889767,0.177991,0.519928,0.900805,0.840780,0.919194,0.659689
normalD2,-4.106599,2.213278,28.213460,10.037223,-4.084717,12.443168,7.587489,11.927311,-6.503032,1.810472,6.211296,6.303208,-5.049126,18.965437,-1.931234,-5.657434,17.125405,-4.560855,-4.393585,5.098204
normalD3,0.677747,-1.173954,0.333732,0.429233,-0.618693,-0.824316,-0.441284,0.429746,0.271068,0.960353,0.018969,-1.656389,0.946620,1.523752,1.361361,1.092263,0.139257,-1.287350,-0.515835,-0.533837

<h1>2.</h1>   Створіть функцію, що реалізує критерій Шапіро-Уілка та застосуйте її до кожної змінної набору данних.
Детальний опис роботи критерію та приклад його розрахунку:
https://pdfs.semanticscholar.org/e4a7/42a4f0585b4e4069726f6628f4d4285a0827.pdf

In [3]:
# 1. Ordering the observation
# df.sort_values(['gammaD', 'geometricD'], inplace=True)

df = pd.DataFrame({key: sorted(values) for key, values in df.transpose().iterrows()})
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
gammaD,0.005519,0.068896,0.075164,0.089035,0.097176,0.112691,0.115444,0.228232,0.308828,0.515843,0.522405,0.637990,0.986245,1.182253,1.243521,1.698596,1.756528,1.876075,1.931315,4.091342
normalD1,2.719352,3.534785,4.697076,5.107833,6.499164,8.716142,9.503542,10.036528,10.488649,10.656995,11.092024,12.207676,12.747818,13.957428,14.178831,14.445795,14.696851,15.050940,17.823873,18.572733
geometricD,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,3.000000,3.000000,3.000000,3.000000,4.000000
uniformD,0.161229,0.177991,0.223930,0.227741,0.250312,0.254224,0.302826,0.331385,0.386651,0.508545,0.519928,0.522363,0.563966,0.617248,0.659689,0.699897,0.840780,0.889767,0.900805,0.919194
normalD2,-6.503032,-5.657434,-5.049126,-4.560855,-4.393585,-4.106599,-4.084717,-1.931234,1.810472,2.213278,5.098204,6.211296,6.303208,7.587489,10.037223,11.927311,12.443168,17.125405,18.965437,28.213460
normalD3,-1.656389,-1.287350,-1.173954,-0.824316,-0.618693,-0.533837,-0.515835,-0.441284,0.018969,0.139257,0.271068,0.333732,0.429233,0.429746,0.677747,0.946620,0.960353,1.092263,1.361361,1.523752

In [4]:
# 2. Variance S²
def get_data_mean(array):
    return sum(array)/n

def get_data_squared_S(array, data_mean):
    return sum([(array[i]-data_mean)**2 for i in range(n)]) 

data_mean = {dist: get_data_mean(df[dist]) for dist in df}
data_squared_S = {dist: get_data_squared_S(df[dist], data_mean[dist])
                 for dist in df}

In [5]:
# 3. Compute b

a=[0.4734, 0.3211, 0.2565, 0.2085, 0.1686, 0.1334, 0.1013, 0.0711, 0.0422, 0.0140]

def get_b(array):
    return sum([a[i]*(array[(n-1)-i]-array[i])
                for i in range(n//2)])

data_b = {dist: get_b(df[dist]) for dist in df}

In [6]:
# 4. Compute W

def calculate_W(b, squared_S):
    return b**2/squared_S

data_W = {dist: calculate_W(data_b[dist], data_squared_S[dist]) for dist in df}

WTheory = sts.shapiro(df['normalD3'])
data_W, WTheory

({'gammaD': 0.7900532528551356,
  'normalD1': 0.962980803576862,
  'geometricD': 0.8364641240506329,
  'uniformD': 0.9147011357279564,
  'normalD2': 0.9112400348636757,
  'normalD3': 0.9700055267938565},
 (0.9700077176094055, 0.7550369501113892))

<h1>3.</h1> Сгенеруйте пусту таблицю, в якій кількість рядків - це кількість змінних + 1. Кількість стовбчиків - 3. Назва стовпчиків - Variable, Statistics, Distribution.
Шаблон таблиці:
https://drive.google.com/file/d/1gRNsk9UDhl_6GGkJ04q0cBWBgsJvTgI4/view?usp=sharing

In [7]:
column_names = ["Variable", "Statistics", "Distribution"]
new_df = pd.DataFrame(columns = column_names)
new_df

Empty DataFrame
Columns: [Variable, Statistics, Distribution]
Index: []

<h1>4.</h1> Занести в стовпчик Variable назви змінних.

In [8]:
new_df["Variable"] = df.keys()
new_df

     Variable Statistics Distribution
0      gammaD        NaN          NaN
1    normalD1        NaN          NaN
2  geometricD        NaN          NaN
3    uniformD        NaN          NaN
4    normalD2        NaN          NaN
5    normalD3        NaN          NaN

<h1>5.</h1> Занести в стовпчик Distribution результати роботи криетрію Шапіро-Уілка. Для змінних, які розподілені за нормальним законом вносити "normal", в протилежному вигляді - "non-normal".

In [9]:
new_df["Distribution"] = [('normal ' if 'normal' in dist else 'non-normal ')+
                          str(data_W[dist])
                          for dist in new_df["Variable"]]
new_df

     Variable Statistics                   Distribution
0      gammaD        NaN  non-normal 0.7900532528551356
1    normalD1        NaN       normal 0.962980803576862
2  geometricD        NaN  non-normal 0.8364641240506329
3    uniformD        NaN  non-normal 0.9147011357279564
4    normalD2        NaN      normal 0.9112400348636757
5    normalD3        NaN      normal 0.9700055267938565

<h1>6.</h1> Розрахувати для всіх змінних, що розподілені за нормальним законом розрахувати середне значення та стандартне відхилення. Записати в таблицю. Форма запису: Середнє [стандартне відхилення].

In [10]:
for i in range (new_df.shape[0]):
    current_variable = new_df["Variable"][i]
    if 'normal' in current_variable:
        new_df["Statistics"][i] = f'{df[current_variable].mean()} [{df[current_variable].std()}]'

new_df

,Variable,Statistics,Distribution
0,gammaD,NaN,non-normal 0.7900532528551356
1,normalD1,10.83670186092215 [4.5679954315532445],normal 0.962980803576862
2,geometricD,NaN,non-normal 0.8364641240506329
3,uniformD,NaN,non-normal 0.9147011357279564
4,normalD2,4.582468460718409 [9.662862625776013],normal 0.9112400348636757
5,normalD3,0.056622155470085235 [0.9102464760697447],normal 0.9700055267938565

<h1>7.</h1> Розрахувати для всіх змінних, що розподілені за розподілом відсутнім від нормального розрахувати медіану та інтерквартильний розмах. Записати в таблицю. Форма запису: Медіана [25%; 75%].

In [11]:
for i in range (new_df.shape[0]):
    current_variable = new_df["Variable"][i]
    if 'normal' not in current_variable:
        new_df["Statistics"][i] = \
        f'{df[current_variable].median()} \
        [{df[current_variable].quantile(0.25)}; {df[current_variable].quantile(0.75)}]'

new_df

,Variable,Statistics,Distribution
0,gammaD,0.5191242183215794 [0.1088120056667394...,non-normal 0.7900532528551356
1,normalD1,10.83670186092215 [4.5679954315532445],normal 0.962980803576862
2,geometricD,2.0 [1.0; 2.25],non-normal 0.8364641240506329
3,uniformD,0.5142363215855672 [0.2532458314831751...,non-normal 0.9147011357279564
4,normalD2,4.582468460718409 [9.662862625776013],normal 0.9112400348636757
5,normalD3,0.056622155470085235 [0.9102464760697447],normal 0.9700055267938565

<h1>8.</h1> Зберегти таблицю в пдф форматі

In [12]:
import weasyprint

In [13]:
HTML_TEMPLATE1 = '''
<html>
<head>
<style>
  h2 {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
  }
  table { 
    margin-left: auto;
    margin-right: auto;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 90%;
  }
  table tbody tr:hover {
    background-color: #dddddd;
  }
  .wide {
    width: 90%; 
  }
</style>
</head>
<body>
'''

HTML_TEMPLATE2 = '''
</body>
</html>
'''


def to_html_pretty(dframe, filename='out.html', title=''):
    ht = ''
    if title != '':
        ht += '<h2> %s </h2>\n' % title
    ht += dframe.to_html(classes='wide', escape=False)

    with open(filename, 'w') as f:
         f.write(HTML_TEMPLATE1 + ht + HTML_TEMPLATE2)


intermediate_html = 'intermediate.html'
new_df.to_html(intermediate_html)
to_html_pretty(new_df, intermediate_html, 'Stats')

out_pdf= 'Lab4Stats.pdf'
weasyprint.HTML(intermediate_html).write_pdf(out_pdf)